* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    overflow-y: hidden;
    height: 100dvh;
}

/* Estilo da navbar lateral */
.navbar {
    width: 200px;
    height: 100vh;
    background-color: rgb(105, 136, 105);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    box-shadow: 0 4px 8px rgb(114, 134, 114);
    
}

#img {
    width: 100%;
    height: 15vmin;
    margin-top: 45px;
    border-bottom: 2px solid rgb(119 68 68);
}

#img > img {
    width: 100%;
    height: 100%;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    height: 3rem;
    cursor: pointer;
}

.navbar ul li:hover {
    background-color: rgb(119 68 68);
}

.toggleBackground {
    background-color:  rgb(119 68 68);
}

.navbar ul li a {
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center left;
    padding: 15px;
}


.menu-burger {
    font-size: 20px; 
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;   
    background-color: transparent;
    border: none;
    color: white;
}


.main-content {
    margin-left: 200px;
    padding: 10px 20px;
    transition: margin-left 0.3s ease;
    height: 100%;
}
.main-content > h2 {
    margin: 0 10px;
    color: rgb(73, 118, 73);
}


.navbar.collapsed {
    width: 50px;
}

.navbar.collapsed ul {
    display: none; 
}

#img.collapsed {
    display: none;
} 

.main-content.collapsed {
    margin-left: 50px;
}

.menu-burger.collapsed {
    right: 10px; 
}

/*---------------------css clientes ----------------------*/


button {
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(165, 42, 42);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:  rgb(119 68 68);
}


form {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(73, 118, 73);
    width: 70%;
}

form h3 {
    margin-bottom: 15px;
    color: #333;
    font-size: 22px;
    text-align: center;
}

form input, form select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #fff;
}

#idadeIndicativa {
    width: 50%;
}

form input:focus, form select:focus {
    border-color: rgb(73, 118, 73);
    box-shadow: 0 0 5px rgb(73, 118, 73);
    outline: none;
}

form label {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.container-form-cadastroCliente {
    display: flex;
    width: 100%;
    height: 10vmin;
    gap: 2.5vmin;
}
.container-form-cadastroCliente > div {
    width: 50%;
}

#formEmprestarLivro {
    padding: 20px; 
    border: 1px solid #ccc; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    z-index: 999; 
    display: none; 
    display: block;    
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
}

#formNovoCliente, #formNovoLivro, #formEditarLivro {
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
    display: none;
    display: block;
    max-height: 90%;
    width: 50%;
    overflow-y: auto;
}

.container-form {
    display: block;
    align-items: top;
    justify-content: center;
    gap: 2vmin;
}
.container-form > div {
    width: 100%;
}

#container-section-pagamento, #container-section-form {
    display: none;
}

#container-section-pagamento > div #container-section-form > div {
    width: 100%;
} 

#section-form-container > h3, #section-pagamento-container > h3 {
    text-align: left;
    color: rgb(73, 118, 73);
}

#container-section-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    width: 70%;
    gap: 2vmin;
}

#container-section-form > div {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(114, 134, 114);
    padding: 10px;
}

#container-section-form > div:nth-child(1){

}

#container-section-form > div:nth-child(2){
    height: 600px;
    overflow: hidden;
}

.container-form section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.container-form h3 {
    margin: 0;
    width: 100%;
}

.container-form section.expanded {
    background-color: #f9f9f9;
}

#container-lista-livros{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5vmin;
    overflow: auto;
    padding: 10px;
    height: 77%;
}

.contain-livro {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 4px 8px rgb(114, 134, 114);
}
.contain-livro > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.qtdDesejadaEmprestimo {
    width: 100%;
    margin: 0;
    height: 5vmin;
    text-align: center;
    border-radius: 0;
    border: none;
    font-weight: 700;
}

.contain-livro div span, p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 3vmin;
    font-weight: bolder;
    font-size: 1.8vmin;
    border-bottom: 1px solid black;
    color:  rgb(165, 42, 42);
}

.contain-livro > div > p {
    height: 5vmin;
    font-weight: 700;
    font-size: 1.5vmin;
    border-bottom: none;
    color: black;
}

#div-principal-preco-mes {
    display: flex;
    justify-content: center;
}

#contain-preco-mes {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 60%;
    box-shadow: 0 4px 8px rgb(114, 134, 114);
    gap: 2.4vmin;
}

#div-mes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: .5vmin;
}
#div-mes > label, #tempoAluguel {
    width: 90%;
    margin-bottom: 0;
}

#tempoAluguel {
    width: 60%;
}

#div-total-p {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 30%;
    height: 100%;
    font-weight: bold;
}
#div-total-p > p {
    border-bottom: none;
    color: black;
}

#formContainer {
    margin-top: 20px;
}

.container-form-transp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: #000000c2;
}

#clientePesquisa, #livroPesquisa {
    background: url('https://img.icons8.com/material-outlined/24/000000/search--v1.png') no-repeat scroll 7px 7px;
    padding-left: 30px;
    margin-bottom: 0px;
}
#clientePesquisa {
    margin-bottom: 2vmin;
}

.div-lista-relative {
    position: relative;
}

#clienteLista, #livroLista {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: absolute;
    z-index: 999;
}

#clienteLista li, #livroLista li {
    display: flex;
    gap: 2vmin;
    padding: 10px;
    cursor: pointer;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s;
}

#clienteLista li:hover, #livroLista li:hover {
    background-color: #e9ecef;
}

form button[type="submit"] {
    padding: 10px;
    background-color:rgb(119 68 68);
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: rgb(119 68 68);
}


/*----------------- tabela---------------------*/
#conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    padding: 10px;
    height: 95%;
}

.add-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
    gap: 1vmin;
}

.btn-add {
    padding: 10px 15px;
    background-color:  rgb(165, 42, 42);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn-add:hover {
    background-color: rgb(119 68 68);
}

#div-filter {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    gap: 1vmin;
    color: rgb(93, 138, 93);
    font-weight: bolder;
}


.table-container {
    max-height: 75%;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgb(114, 134, 114);
    border-radius: 8px;
}

.table {
    width: 100%;
    max-height: 100%;
    border-collapse: collapse;
}

.table thead {
    position: sticky;
    top: 0;
    background-color: #fff; 
   
    z-index: 1;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
    color: rgb(93, 138, 93);
    font-weight: bolder;
}

.list > tr {
    color: white;
}
.list > tr > td {
    text-align: center;
    color: black;
    justify-content: center;
}
.list > tr > td:nth-child(5){
    max-width: 200px;
}

.customer-list-table > thead > tr > th{
    color: rgb(165, 42, 42);

}
.customer-list {
    background-color: rgb(137 207 137 / 16%) ;
}
.customer-list > tr {
    color: white;
}
.customer-list > tr > td {
    text-align: center;
    color: black;
    justify-content: center;
}

.table tr.row:hover {
    background-color:  rgb(105, 136, 105);
}

.list > tr.row:hover {
    color: black;
}

.td-perso {
    display: flex;
}

.table-container::-webkit-scrollbar {
    width: 8px;
}

.table-container::-webkit-scrollbar-track {
    background: #f8f9fa;
}

.table-container::-webkit-scrollbar-thumb {
    background: rgb(93, 138, 93);
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: rgb(93, 138, 93);
}

.container {
    margin: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#entries, #search {
    padding: 5px;
}

.pagination {
    display: flex;
    justify-content: right;
    align-items: center;
    color: black;
    font-weight: bolder;
}

.next, .prev{
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    background-color: rgb(165, 42, 42) ;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bolder;
}
.next:hover, .prev:hover {
    background-color:  rgb(119 68 68);
}

.next:disabled, .prev:disabled {
    background-color: rgb(119 68 68);
}

.page-numbers .page-button{
    background-color: transparent;
    padding: 5px 5px;
    color: black;
    margin: 0;
}

.page-numbers > span {
    font-weight: bolder;
    color: black;
}

.cancelBtn {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 10px;
}
.cancelBtn > p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: rgb(165, 42, 42);
    border-radius: 5px;
    font-size: 1.5vmin;
    cursor: pointer;
}
.cancelBtn > p:hover {
    background-color:  rgb(165, 42, 42);
}
/*-------------------------- dashboard----------------------------- */

.dashboard-container {
    width: 90%;
    overflow: hidden;
    height: 95%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(114, 134, 114);
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.dashboard-header h1 {
    color: rgb(73, 118, 73);
    font-size: 24px;
}

.date-filter {
    display: flex;
    gap: 10px;
}

input[type="date"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button#filterBtn {
    padding: 8px 12px;
    background-color:   rgb(165, 42, 42);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#filterBtn:hover {
    background-color: rgb(119 68 68);
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    margin-bottom: 20px; 
}

.stat-card {
    background-color: #fff; 
    padding: 10px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgb(114, 134, 114); 
    text-align: center;
    border-top: 5px solid  rgb(165, 42, 42); 
   
    max-width: 350px; 
    width: 100%; 
}

.stat-card:hover {
    transform: scale(1.05);
    border-top: 5px solid  rgb(119 68 68); 
}

.stat-card h3 {
    margin-bottom: 10px;
    font-size: 18px; 
    color: black; 
}

.stat-card p {
    font-size: 24px; 
    font-weight: bold; 
    color:rgb(93, 138, 93); 
    border-bottom: none;
}

.total-recebido p {
    color: #14ac06; 
}

.total-atraso p {
    color: #dc3545; 
}

.total-a-receber > p {
    color:  rgb(93, 138, 93);
}

.charts-container {
    background-color: #fff; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

canvas {
    max-width: 100%;
    height: 400px;
}

/*-----------tabela dashboard----------*/

.table-dashboard {
    max-height: 55%;
}

.table-dashboard > thead {
    border-top: 1px solid black;
}

#alugueis-table-title {
    margin-bottom: 10px;
}



/*--------exlcuir---------*/

.container-excluir {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 3.5vmin;
    border-radius: 8px;
    background-color: white;
}


#search, textarea {
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f0f0f0; /* Cor de fundo suave */
}

#search:focus, textarea:focus {
    border-color: rgb(165, 42, 42); /* Terracota Suave */
    outline: none;
    background-color: rgba(109, 146, 109, 0.158); /* Foco claro */
}

.hidden-page {
    display: none;
}

.filter-exibir-container, .pesquisa-container {
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    width: 20rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1vmin;
    box-shadow: 0 4px 8px rgb(114, 134, 114);
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5vmin;
    height: 100%;
}